PORT=3000
MONGODB_URL=mongodb+srv://shivambhadoriya1605_db_user:12345@localprojects.rd9jzjj.mongodb.net/TASK-MANAGEMENT-SYSTEM?retryWrites=true&w=majority
# MONGODB_URL=mongodb://localhost:27017/management-system
JWT_SECRET_KEY=super-secret-key